* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);

    --Font-family: "Barlow Semi Condensed", sans-serif;
}

img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

body{
    background-color: var(--Light-grayish-blue);
    color: var(--White);
}

main{
    flex-basis: 74.32%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

aside{
    flex-basis: 22.97%;
    
}

h1{
    font: 600 20px/24px var(--Font-family);
    margin-top: 18px; 
}

h2{
    font: 500 13px/13px var(--Font-family);
}

h3{
    font: 500 11px/11px var(--Font-family); 
    opacity: 0.5;
}

p{
    font: 500 13px/18px var(--Font-family); 
    opacity: 0.7;
    margin-top: 16px; 
}


